:root{
    --shadowColor: #ced0d3
}

.shadowText{
    text-transform: uppercase;
    text-shadow: -0.1em .03em 0.13em var(--shadowColor);
    color: white;
    letter-spacing: -0.08em;
    font-weight: 900;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 150px;
    transition: all 0.25s ease-out;
}

.shadowText:hover {
    text-shadow: -0.09em 0.028em 0.07em #ced0d3;
}