.container p {
  margin: 20px 0;
  text-align: justify;
  line-height: 1.4;
}
.container h2 {
  margin: 0 0 50px;
  text-align: center;
  font-size: 32px;
  text-shadow: 2px 2px #000;
  color: var(--cinnabar);
}
.img {
  width: 100%;
}
