.container {
    display: flex;
    flex-direction: column;
  }
  .item {
    flex-basis: 100%;
    text-align: center;
    padding: 100px 0;
    transition: all 0.5s linear;
    cursor: pointer;
  }
  .item h2 {
    font-size: 2.56rem;
    color: var(--cinnabar);
  }
  .item:hover h2 {
    transition: all 0.3s linear;
    transform: scale(1.1);
  }
  .item:first-child {
    border-bottom: 2px solid var(--cinnabar);
  }
  @media only screen and (min-width: 568px) {
    .container {
      flex-direction: row;
    }
    .item {
      flex-basis: 50%;
      text-align: center;
    }
    .item:first-child {
      border-right: 2px solid var(--cinnabar);
      border-bottom: none;
    }
  }