@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
  --black: #222629;
  --vibrant-green: #86c232;
  --nice-green: #6d9f71;
  --gray: #6b6e70;
  --dark-gray: #474b4f;
  --white: #fff;
  --text-gray: #636363;
  --cinnabar: #e94f37;
  --onyx: #393e41;
  --ivory: #f6f7eb;
  --dark-blue: #1f4954;
  --green: #32936f;
  --apricot: #f9d4bb;
  --brown: #463f3a;
  --light-blue: #98dfea;
  --black1: #1e1e24;
  --gray1: #748386;
  --deep-space: #4c5b5c;
  --deep-blue: #212d40;
  --charcoal: #364156;
  --tan: #dec4a1;
  --columbia-blue: #c0d6df;
}

.TextContainer {
  display: grid;
  height: 50vh;
  width: 100vw;
  place-items: center;
  background: rgb(14, 13, 13);
}

@media (max-width: 568px) {
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    font: georgia, serif, sans-serif;
    font-size: 50% !important;
  }
}

.cinnabarH3 {
  margin: 20px 0;
  text-align: center;
  /* font-size: 20px; */
  color: var(--cinnabar);
}
.linkList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
}
.linkList li {
  font-size: 16px;
  padding: 10px;
  background: none;
  border: 1px solid var(--cinnabar);
  cursor: pointer;
  margin: 10px;
}
.linkList li:hover {
  background: var(--cinnabar);
}
.linkList li:hover a {
  color: #fff;
}
