.container {
    background: var(--tan);
    padding: 20px 10px;
  }
  .container,
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left {
    height: 250px;
    text-align: center;
  }
  .left > h2 {
    font-size: 32px;
  }
  .right {
    height: 350px;
    width: 100%;
    position: relative;
  }
  .rightContent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #264653;
    overflow: scroll;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  .card > h2 {
    font-size: 6vw;
  }
  .card > p {
    color: #fff;
    margin: 20px 0;
    font-size: 16px;
    line-height: 25px;
  }
  .Img {
    min-height: 100px;
    min-width: 200px;
    max-height: 200px;
  }
  .link {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--cinnabar);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  @media only screen and (min-width: 568px) {
    .container {
      padding: 0;
    }
  }
  @media only screen and (min-width: 768px) {
    .container {
      background: var(--tan);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 100%;
    }
    .right {
      flex-basis: 50%;
      height: 400px;
      position: relative;
    }
    .left {
      flex-basis: 50%;
      height: 400px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }