.container {
  width: 100vw;
  /* height: 100px; */
  position: relative;
  background-color: black;
  /* height: 100vh; */
}
.morph{
  transition: .5s ease;
}
.fire {
  animation: burn linear 0.5s infinite alternate;
}
@keyframes burn {
  0% {
    transform: scaley(1);
  }
  100% {
    transform: scaley(1.02);
  }
}
.ember {
  animation: burnout linear 1s 0.5s infinite;
}
@keyframes burnout {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
.wave {
  position: absolute;
  top: 10px;
  width: 200vw;
  animation: flow linear 10s infinite;
}
.wave1 {
  position: absolute;
  top: 0px;
  width: 200vw;
  opacity:0.8;
  animation: flow1 linear 3s infinite;
}
.wave2 {
  position: absolute;
  top: 5px;
  width: 200vw;
  opacity:0.5;
  animation: flow2 linear 3s 1s infinite;
}
/* .wave1 {
  opacity: 0.8;
  animation: flow linear 3s 1s infinite;
}
.wave2 {
  opacity: 0.5;
  animation: flow linear 3s 2s infinite;
} */
@keyframes flow {
  0% {
    transform: translateX(0);
  }
  100% {
   transform: translateX(-100vw);
  }
}
@keyframes flow1 {
  0% {
    transform: translateX(-100vw);
  }
  100% {
   transform: translateX(0);
  }
}
@keyframes flow2 {
  0% {
    transform: translateX(0);
  }
  100% {
   transform: translateX(-100vw);
  }
}
.sliderContainer {
  width: inherit;
  height: inherit;
  overflow: scroll;
}
.cardContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 300vw;
}
.card {
  width: 100vw;
}
.arrowContainer {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100vw;
  z-index: 3;
}
.leftArrow {
  position: absolute;
  top: 50%;
  left: 5px;
  height: 10px;
  width: 35px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 5px;
  height: 3px;
  width: 35px;
}
.arrow {
  height: 5px;
  width: 20px;
  background-color: black;
}
.leftArrow .arrow:first-of-type {
  transform: translate(4px, -3px) rotate(-45deg);
}
.leftArrow .arrow:last-of-type {
  transform: translate(4px, 3px) rotate(45deg);
}
.rightArrow .arrow:first-of-type {
  transform: translate(4px, -3px) rotate(45deg);
}
.rightArrow .arrow:last-of-type {
  transform: translate(4px, 3px) rotate(-45deg);
}

.card:nth-of-type(1) {
  background-color: tomato;
}
.card:nth-of-type(2) {
  background-color: teal;
}
.card:nth-of-type(3) {
  background-color: turquoise;
}
